body {
  margin: 0;
  background-color: #ffeda1;
  padding: 30px;
  font-family: 'Karla', sans-serif;
  
  text-align: center;
}

.text-above{
  color: tomato;
}
.text-above h1{
  color: tomato;
  font-weight: 700;
}
.text-above p{
  color: black;
  font-weight: 500;
}

.digits-container{
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}

.digit-face{
  height: 80px;
  width: 80px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #eec967;
}

.digit-num{
  padding: 15px;
  color: black;
}

input, button {
  margin: 5px;
  margin-bottom: 25px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  user-select: none;
}

input {
  background-color: #fff; /* Цвет фона для input */
}

button {
  background-color: tomato; /* Цвет фона для button */
  color: #fff; /* Цвет текста на кнопке */
  cursor: pointer;
}